<?xml version="1.0"?>
<config>

<!-- use the input_pcap module and tell it to sniff to eth0 (you need root privileges for this) -->
<input type="pcap" mode="interface">
	<param name="interface">eth0</param>
</input>

<!-- each rule consist of a target and matches wich define what to do with the packet and which packet to match respectively -->
<rule>
	<!-- target_pcap save the sniffed packets into a file -->
	<target type="pcap">
		<!-- this target takes only one parameter : filename -->
		<param name="filename">/tmp/dump.cap</param>
	</target>

	<!-- target_display display usefull information about the current packet on the screen -->
	<target type="display"/>

	<!-- we want to capture only ipv4 traffic -->
	<matches>
		<!-- we first layer we'll have to match is ethernet -->
		<match layer="ethernet"/>
		<!-- above ethernet we look for ipv4 packets -->
		<match layer="ipv4"/>
	</matches>
</rule>

<!-- this second rule sends a tcp kill to either ipv4 or ipv6 in ipv4 tunnels for tcp port 1234 -->
<rule>
	<!-- target_tcpkill will fit our purpose in interface mode -->
	<target type="tcpkill" mode="interface">
		<!-- send the rst packets on eth0 -->
		<param name="interface">eth0</param>
	</target>

	<matches>
		<!-- first layer will be ethernet -->
		<match layer="ethernet"/>
		<!-- we match either <a> or <b> -->
		<node op="or">
			<a>
				<!-- either ipv4 -->
				<match layer="ipv4"/>
			</a>
			<b>
				<!-- or ipv6 in ipv4 aka ipv6 tunnels -->
				<match layer="ipv4"/>
				<match layer="ipv6"/>
			</b>
		</node>
		<!-- after the network layer, we add the connection layer -->
		<!-- match only tcp packets which destination port greater than 1234-->
		<match layer="tcp" field="dport" op="gt">1234</match>
	</matches>
</rule>

<!-- this rule will dump each ipv4 connections on tcp port 123 into a single file -->
<rule>
	<!-- target_dump_payload is the one -->
	<target type="dump_payload">
		<!-- the files will be stored in /tmp/ and will be named tcp-12345-[timestamp] -->
		<param name="prefix">/tmp/tcp-12345</param>
	</target>

	<matches>
		<match layer="ethernet"/>
		<match layer="ipv4"/>
		<!-- match all the traffic to port 12345 and dport less or equal to 3333 -->
		<node op="and">
			<a><match layer="tcp" field="sport">12345</match></a>
			<b><match layer="tcp" field="dport" op="le">3333</match></b>
		</node>
	</matches>
</rule>

<!-- rule to inject all ipv4 packet to lo interface excluding tcp port 1234 -->
<rule>
        <target type="inject">
                <!-- could be either ip or eth name -->
                <param name="interface">127.0.0.1</param>
        </target>

	<!-- all ipv4 traffic -->
        <matches>
                <match layer="ethernet"/>
                <match layer="ipv4"/>
		<match layer="tcp" field="dport" inv="yes">1234</match>
        </matches>
</rule>

</config>
