<?xml version="1.0"?>
<config>

<!-- use the input_pcap module and tell it to sniff to eth0 (you need root privileges for this) -->
<input type="pcap">
	<param name="interface">eth0</param>
</input>

<!-- each rule consist of a target and matches wich define what to do with the packet and which packet to match respectively -->
<rule>
	<!-- target_pcap save the sniffed packets into a file -->
	<target type="pcap">
		<!-- this target takes only one parameter : filename -->
		<param name="filename">/tmp/dump.cap</param>
	</target>

	<!-- we want to capture only ipv6 traffic -->
	<matches>
		<!-- we first layer we'll have to match is ethernet -->
		<match type="ethernet"/>
		<!-- above ethernet we look for ipv6 packets -->
		<match type="ipv6"/>
	</matches>
</rule>

<!-- this second rule sends a tcp kill to either ipv4 or ipv6 in ipv4 tunnels for tcp port 1234 -->
<rule>
	<!-- target_tcpkill will fit our purpose -->
	<target type="tcpkill">
		<!-- use normal mode and not routed mode -->
		<param name="mode">normal</param>
		<!-- send the rst packets on eth0 -->
		<param name="interface">eth0</param>
	</target>

	<matches>
		<!-- first layer will be ethernet -->
		<match type="ethernet"/>
		<!-- we match either <a> or <b> -->
		<or>
			<a>
				<!-- either ipv4 -->
				<match type="ipv4"/>
			</a>
			<b>
				<!-- or ipv6 in ipv4 aka ipv6 tunnels -->
				<match type="ipv4"/>
				<match type="ipv6"/>
			</b>
		</or>
		<!-- after the network layer, we add the connection layer -->
		<match type="tcp">
			<!-- match only tcp packets which destination port 1234 -->
			<param name="dport">1234</param>
		</match>
	</matches>
</rule>

<!-- this rule will dump each ipv4 connections on tcp port 123 into a single file -->
<rule>
	<!-- target_dump_payload is the one -->
	<target type="dump_payload">
		<!-- the files will be stored in /tmp/ and will be named tcp-12345-[timestamp] -->
		<param name="prefix">/tmp/tcp-12345</param>
	</target>

	<matches>
		<match type="ethernet"/>
		<match type="ipv4"/>
		<match type="tcp">
			<!-- match all the traffic to port 12345 -->
			<param name="sport">12345</param>
		</match>
	</matches>
</rule>

</config>
