<?xml version="1.0"?>
<config>

<input type="docsis">
	<param name="eurodocsis">1</param>
	<param name="frequency">462000000</param>
	<param name="modulation">QAM64</param>
</input>

<rule>
	<target type="tap"><param name="ifname">docsis0</param></target>
	<matches>
		<match type="ethernet"/>
	</matches>
</rule>

<rule>
	<target type="inject"><param name="interface">eth0.4</param></target>
	<matches>
		<match type="ethernet">
			<param name="dmac">00:ab:cd:ef:12:34</param>
			<param name="dmac_mask">ff:ff:ff:ff:ff:ff</param>
		</match>
		<match type="ipv4">
			<param name="daddr">1.2.3.4</param>
			<param name="dnetmask">255.255.255.255</param>
		</match>
		<match type="tcp">
			<param name="dport">25</param>
		</match>
	</matches>
</rule>
<!--
<rule>
	<target type="wave"><param name="prefix">/mnt/mem/rtp</param></target>
	<matches>
		<match type="ethernet"/>
		<match type="ipv4">
			<param name="saddr">10.0.0.0</param>
			<param name="snetmask">255.0.0.0</param>
		</match>
		<match type="udp">
			<param name="sport">3000:65535</param>
			<param name="dport">3000:65535</param>
		</match>
		<match type="rtp"/>
	</matches>
</rule>
<rule>
	<target type="dump_payload"><param name="prefix">/mnt/mem/pop3</param></target>
	<matches>
		<match type="ethernet"/>
		<match type="ipv4"/>
		<match type="tcp">
			<param name="sport">110</param>
		</match>
	</matches>
</rule>
-->
<rule>
	<target type="tcpkill"><param name="severity">3</param></target>
	<matches>
		<match type="ethernet"/>
		<match type="ipv4">
			<param name="daddr">1.2.3.4</param>
			<param name="dnetmask">255.255.255.255</param>
		</match>
		<match type="tcp">
			<param name="dport">80</param>
		</match>
	</matches>
</rule>
</config>
